
:root {
    --not-quite-black: #23272a;
    --white: #ffffff;
    --brand: #5865f2;
    --page-max-width: 1260px;
    --page-max-width-med: 1024px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px
}

@media screen and (min-width:768px) {
    :root {
        --num-grid-columns: 8;
        --page-gutter: 40px;
        --section-spacing: 80px
    }
}

@media screen and (min-width:1024px) {
    :root {
        --num-grid-columns: 12;
        --section-spacing: 120px
    }
}


.routeSection-33w3lS {
  grid-column: span 2;
  margin-bottom: 40px;
}


.grid-3d2PVT {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


.brand-1AbNp3.footer-gguAio {
  background-color: #23272a;
  background-color: var(--not-quite-black);
}

.footer-gguAio {
  padding-top: 80px;
  padding-bottom: 64px;
  color: #fff;
  color: var(--white);
}

.row-31oovZ {
  width: 100%;
  max-width: 1260px;
  max-width: var(--page-max-width);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-columns: repeat(var(--num-grid-columns),1fr);
  gap: 0 20px;
  padding: 0 24px;
  padding: 0 var(--page-gutter);
}


.infoBox-2F-_KW {
grid-column: span 4;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
margin-bottom: 56px;
}

.language-eGQ78u {
    margin-bottom: 24px;
    margin-top: 24px;
  }
.language-eGQ78u, .social-3RuOPP {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-5YF8IH {
  position: relative;
}

.selectorContainer-qHmUl3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}


.localeContainer-a5QGIe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.flag-sHwnaY {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.selectorlanguageName-1rrOD9 {
  color: #fff;
  color: var(--white);
}


.language-eGQ78u, .social-3RuOPP {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.socialLink-1h9CDw + .socialLink-1h9CDw {
  margin-left: 24px;
}
.socialIcon-38NB2e {
  display: block;
  color: var(--white);
}

.link-1naFFL {
  cursor: pointer;
}




.routeSection-33w3lS {
  grid-column: span 2;
  margin-bottom: 40px;
}


.brand-1AbNp3 .colHeader-3LmkbR, .brand-1AbNp3 .tagline-1rsZ5q {
  color: #5865f2;
}
.colHeader-3LmkbR {
  margin-bottom: 20px;
}
.textSmall-Rm6-Ys {
  font-size: 16px;
  line-height: 24px;
}


.navLink-33dQx3 {
  color: var(--white);
  margin-top: 8px;
  display: block;
}
.linkDefault-3q74_X {
  color: #00b0f4;
  color: var(--text-link);
}
.link-1naFFL {
  cursor: pointer;
}

.textSmall-Rm6-Ys {
  font-size: 16px;
  line-height: 24px;
}





.ctaContainer-1L5wFo {
  grid-column: span 4;
  grid-column: span var(--num-grid-columns);
}

.cta-1TzIKE, .logoLink-2i7vCz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-1TzIKE {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button-ZGMevK {
  border-radius: 50%;
  line-height: 24px;
  cursor: pointer;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,box-shadow;
  transition-property: background-color,color,box-shadow,-webkit-box-shadow;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.buttonSmall-1FIG7u {
  border-radius: 40px;
  font-size: 14px;
  padding: 7px 16px;
}


.logoLink-2i7vCz {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cta-1TzIKE, .logoLink-2i7vCz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.linkDefault-3q74_X {
  color: #00b0f4;
  color: var(--text-link);
}
.link-1naFFL {
  cursor: pointer;
}


.buttonSmall-1FIG7u {
  border-radius: 40px;
  font-size: 14px;
  padding: 7px 16px;
}

.buttonBrand-24ECS3 {
  background-color: #5865f2;
  background-color: var(--brand);
  color: #fff;
  color: var(--white);
}


.spacer-1ayVsf {
  grid-column: 0;
  display: none;
}      

@media screen and (min-width: 768px) {
  .spacer-1ayVsf {
    grid-column: span 1;
    grid-row-end: span 2;
    display: initial;
  }
}


@media screen and (min-width: 768px) {
  .infoBox-2F-_KW {
    grid-column: span 3;
    grid-row-end: span 2;
  }
}


.brand-1AbNp3 .ctaSeparator-3buN1t, .brandInverted-1wk8Ml.footer-gguAio {
  background-color: #5865f2;
  background-color: var(--brand);
}
.ctaSeparator-3buN1t {
  width: 100%;
  height: 1px;
  margin-bottom: 32px;
}

