* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.footer-gguAio a, .footer a{
    text-decoration: none;
}

.footer-gguAio a:hover, .footer a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;;
}
.content {
    width: 85%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 80px 40px;
}

.content .last-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.content .container {
    display: flex;
}


.content-container-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.content-img-img {
    width: 100%;
}

.content-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.content h2 {
    margin: 0 0 1em 0;
    font-size: 2.6rem;
}

.content h4 {
    font-size: 2rem;
}

.description {
    line-height: 180%;
    font-size: 1.2rem;
}

.download-button {
    width: 190px;
    background-color: #5865f2;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: 7px 16px;
    cursor: pointer;
    line-height: 24px;
    color: white;
    border: none;
    display: block;
    margin: 30px auto 80px auto;
}