.content {
    width: 85%;
    margin: 0 auto;
}

.content .container {
    background-color: lightgreen;
}

.container {
    display: flex;
    justify-content: space-between;
}

.content-img {
    width: 30em;
    height: auto;
}